<br />
<div class="container">
  <div class="row text-center">
    <div class="col-md-4"></div>
    <div class="col-md-4 ">
      <div class="card" >
        <img
          src="../assets/images/flighthome.png"
          class="card-img-top"
          alt="espeflight"
        />
        <div class="card-body">
          <h5 class="card-title">Flight</h5>
          <p class="card-text">
            Reserva de tickets para vuelos internacionales.
          </p>
          <a routerLink="/list" class="btn btn-outline-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>